// global color constant:
$color-primary:  #00A4E0;
$color-secondary: #213547;
$color-white: #fff;

// font
$text-default: #272727;
$text-accent: #888888;

// link
$link-color: #646cff;
$link-hover: #3941cc;
