// font family:
$font-family-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-family-secondary: 'Helvetica', 'Catamaran', 'Arial', 'sans-serif';

// font-size:
$font-size-header-lg: 48;
$font-size-header-md: 32;
$font-size-text-lg: 24;
$font-size-text-md: 18;
$font-size-text-sm: 14;
$font-size-text-xs: 12;
