@import './color.scss';
@import './pixelToRem.scss';
@import './font.scss';

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vh;
  background-color: $color-white;
  font-family: $font-family-primary;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: $color-white;
}

// link:
a {
  font-weight: 500;
  color: $link-color;
  text-decoration: inherit;
}
a:hover {
  color: $link-hover;
}

// headers:
h1, h2, h3, h4, h5, h6 {
  @include pixelToRem(letter-spacing, 1);

  font-family: $font-family-primary;
  font-weight: 200;
}

// paragraph:
p {
  @include pixelToRem(letter-spacing, 1);

  font-family: $font-family-primary;
  font-weight: 200;
}
