@import '../../style/color.scss';
@import '../../style/pixelToRem.scss';

.button{
  @include pixelToRem(border-radius, 4);
  @include pixelToRem(height, 40);

  background-color:$color-white;
  border-color: $color-primary;
  border-style: solid;
  border-width: thin;
  width: 100%;
  color: $color-primary;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
